# Create config.py based on this file filling in values that make sense for your machine
APK_REPOSITORY = r"D:\fdroid_results"
SOURCES_REPOSITORY = r"D:\fdroid"
DONE_LIST = r'done_list.txt'
ADB_PATH = r"C:\Users\artsiom.kushniarou\AppData\Local\Android\sdk\platform-tools\adb.exe"
